.header {
  position: relative;
  background: url(../../assets/images/backgrounds/background.JPG);
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  @media screen and (max-width: 1130px) {
    background-position: right;
  }
}
