.header {
  position: relative;
  background: url(../../assets/images/backgrounds/background.JPG);
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
